# Visual Studio
.vs/

# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# IIS Express
.vs/
*.iisExpress.config

# Rider
.idea/

# VS Code
.vscode/

# Node (por si usás Angular)
node_modules/
dist/

# Archivos temporales
*.tmp
*.cache

# OS
.DS_Store
Thumbs.db